@import 'variables';
@import 'mixins';

.excel__toolbar {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    display: flex;
    padding: 7px 10px;
    height: $toolbar-height;
    background-color: rgb(201, 70, 70);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &-btn {
        @include button(green);
    }
}